/* Boilerplate */
* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 80px;
}

.row {
  display: flex;
}

/* Square  */
.square {
  height: 88px;
  width: 88px;
  /* background-color: green; */
  margin: 3px;
}

.dad {
  height: 1000px;
}

.square:hover:not([class*='wall']) {
  background-color: lightblue;
  transform: scale(1.1);
}
/* Visible conditions */
/* [class*='wall'] {
  background-color: green;
} */

.wall0,
.level0 {
  background-color: green;
}

.wall1,
.level1 {
  background-color: yellow;
}

.wall2,
.level2 {
  background-color: orange;
}

.wall3,
.level3 {
  background-color: red;
}

.wall4,
.level4 {
  background-color: blue;
}

.wall5,
.level5 {
  background-color: purple;
}

.wall6,
.level6 {
  background-color: brown;
}

.wall7,
.level7 {
  background-color: gold;
}

/* Hidden/added conditions */
.win {
  /* This will flash then be refreshed */
  background-color: chartreuse;
}
.lose {
  background-color: black;
}
.arrow {
  color: white;
}

.arrow.nearLose {
  color: red;
}
