/* Boilerplate */
* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 10px;
  border: 10px solid white;
}

.row {
  display: flex;
}

.scoreElement {
  margin: 10px 10px 0 10px;
}
/* Square  */
.square {
  height: 88px;
  width: 88px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winText {
  font-size: 250%;
  visibility: hidden;
  color: gold;
}

.winTextVisible {
  visibility: visible;
}

.square:hover:not([class*='wall'], .finalSquare) {
  transform: scale(1.1);
}
/* Visible conditions */
.wall2,
.level1 {
  background-color: green;
}

.wall3,
.level2 {
  background-color: darkslateblue;
}

.wall4,
.level3 {
  background-color: orange;
}

.wall5,
.level4 {
  background-color: red;
}

.wall6,
.level5 {
  background-color: blue;
}

.wall7,
.level6 {
  background-color: purple;
}

.wall8,
.level7 {
  background-color: brown;
}

.wall9,
.level8,
.finalSquare {
  background-color: gold;
}

/* Hidden/added conditions */
/* .win {
  background-color: chartreuse;
} */

.arrow {
  color: white;
  font-size: 88px;
}

.north {
  rotate: -90deg;
}
.northeast {
  rotate: -45deg;
}
.east {
  rotate: 0deg;
}
.southeast {
  rotate: 45deg;
}
.south {
  rotate: 90deg;
}
.southwest {
  rotate: 135deg;
}
.west {
  rotate: 180deg;
}
.northwest {
  rotate: 225deg;
}

.winContainer {
  border: 10px solid gold;
}
